.login__data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 35%;
    background-color: #ffffff;
    border: 2px solid #000;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.19);
}
.login__field {
    margin-bottom: 30px;
    width: 98%;
    padding: 10px;
    text-align: center !important;
}
.login__logo{
    object-fit: contain;
    width: 15%;
    margin-bottom: 30px;
}
.login__btn{
    font-size: 1.1rem !important;
    margin: auto !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-left: 100px;
}    
.login__modal{
    display: flex;
    align-items: center;
    justify-content: center;
}